.header{
    display: flex;
    height: 83px;
    background-color: $main-back-color;

    @media (max-width: $mobile) {
        justify-content: space-between;
        align-items: center;
        height: 57px;
    }
}

.header-navbar{
    width: 40.5%;
    margin-top: 2.5%;
    margin-right: 4.6%;

    @media (max-width: $mobile) {
        display: none;
    }
}


.header__logo{
    margin: 2.4% 7% 2.6% 6%;
    @include font($font-PNR, 0.4em, $uppercase);
    color: $text-color--main;

    h1{
        margin: 0;
    }

    @media (max-width: $mobile) {
       margin: 0 0 0 5%;
    }
}

.header-navbar-list{
    display: flex;
    justify-content: space-between;
    height: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-navbar-list__item{
    margin-right: 8%;
    @include font($font-PNR, 0.8em, $uppercase);

    &:hover{
        @include hover_color($text-color--main);
    }

    &:last-of-type{
        margin-right: 0;
    }
}

.header__link{
    @include flex_center();
    @include font($font-PNR, 0.9em, $uppercase);

    margin-right: 3%;
    color: $text-color--main;
}

.header__telephone{
    color: $text-color--main;

    @media (max-width: $mobile) {
        color: $text-color--light;
        text-decoration: none;
    }
}
