.header{
    display: flex;
    background-color: $main-back-color;

    @media (min-width: $mobile) and (max-width: $tablet){
        justify-content: space-between;  
    }

    @media (max-width: $mobile) {
        justify-content: space-between;
        align-items: center;
        height: 57px;
    }
}

.header__logo{
    margin: 2.4% 7% 2.6% 5.6%;
    color: $text-color--main;

    h1{
        @include font($font-FDC, 14px, 16px, $uppercase);
        margin: 0;
    }

    @media (min-width: $mobile) and (max-width: $tablet){
       margin-right: 0;
       margin-left: 82px;   
    }

    @media (max-width: $mobile) {
        @include font($font-FDC, 12px, 14px, $uppercase);
       margin: 0 0 0 5%;
    }
}