.section-contacts{
    padding-top: 15.3%;

    @media (max-width: $mobile){
        padding-top: 76px;
        background-color: $main-back-color;
    }
}

.section-contacts__back{
  @include image("./assets/img/contacts-back.png");
  
    position: relative;
    @media (max-width: $mobile){
        background-image: none;
    }
}

.form-question{
    position: relative;
    bottom: 240px;
    left: 20%;
    width: 61.4%;
    min-width: 340px;
    padding-top: 14px;
    background-color: $main-back-color;

    @media (max-width: $mobile){
        position: static;
        margin: 0 auto 35px;
    }
}

.form-question__head{
    @include font($font-YOR, 20px, 28px, $uppercase);

    margin-bottom: 45px;
    font-weight: normal;
    text-align: center;
}

.form-question__wrapper{
    display: flex;
    justify-content: space-between;
    width: 59%;
    min-width: 340px;
    margin: 0 auto 49px;

    @media (max-width: $mobile){
        @include flex_column();
        width: 100%;
        margin: auto;
    }
}

.form-question-container{
    @include flex_column();

    width: 44%;

    @media (max-width: $mobile){
        width: 100%;
        margin-bottom: 63px;
    }
}

.form-question__input-question{
    @include flex_column();

    width: 59%;
    margin: 0 auto 47px;

    @media (max-width: $mobile){
        width: 100%;
        margin-bottom: 21px;
    }
}

.form-question__check{
    width: 300px;
    margin: 0 auto;
}

.form-question__submit{
    width: 200px;
    margin: 0 auto;
}

.submit-button--center{
    margin: 0 auto 35px 50%;
    transform: translateX(-50%);

    @media (max-width: $mobile){
        @include pos_relative(none, none, none, none);
        margin: 0;
        transform:none;
    }
}

.section-contacts__info{
    margin-top: -172px;

    @media (max-width: $mobile){
       @include flex_column();
       margin: 0;
    }
}

.address{
    @media (max-width: $mobile){
        order: 2;
    }
}

.address__text{
    @include font($font-YOR, 20px, 28px, $uppercase);

    display: block;
    width: 45%;
    margin: 0 auto 26px;
    color: $text-color--main;
    text-align: center;

    a{
        text-decoration: none;
        color: $text-color--main;

        &:hover{
            color: $text-color--light;
        }
    }

    @media (max-width: $mobile){
        @include font($font-YOR, 18px, 25px, $uppercase);
        width: 330px;
    }
}

.address__buttons{
    display: flex;
    justify-content: space-between;
    width: 72px;
    margin: 0 auto 43px;

    @media (max-width: $mobile) {
        width: 108px;
    }
}

.maps{
    width: 64%;
    min-width: 340px;
    margin: 0 auto 46px 20%;

    @media (max-width: $mobile){
        display: none;
    }
}

.maps-media{
    display: none;

    @media (max-width: $mobile){
        display: flex;
        order: 1
    }
}