.heading-wrapper__head{
    @include head_block(#181818);

    @media (max-width: $mobile){
        margin-top: 58px;
    }
}

.heading-wrapper__icon{
    @include size_block(32px, 29px);

    @extend %icon-property;
}

.price-wrapper{
    display: flex;
    margin: 30px 7% 12%;

    @media (max-width: $mobile){
        @include flex_column();
        margin: 30px 5% 12%;
    }
    
}

.price-wrapper__item{
    width: 32%;
    margin-right: 2.5%;    

    &:last-child{
        margin-right: 0;
    }

    @media (max-width: $mobile){
        @include size_block(340px, 484px);
        @include flex_column();

        align-items: flex-start;
        margin-right: 0;
        margin-bottom: 59px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.price-wrapper--back-redecorating{
    @include image("./assets/img/redecorating.png");
}

.price-wrapper--back-overhaul{
    @include image("./assets/img/overhaul.png");

    @media (max-width: $mobile){
        @include image("./assets/img/overhaul-media.png");
    }
}

.price-wrapper--back-designer-repair{
    @include image("./assets/img/designer-repair.png");
}

.price-wrapper__head-item{
    @include font($font-YOR, 18px, 25px, none);

    margin: 0 0 13px 34px;
    color: $text-color--dark;

    @media (max-width: $mobile){
        @include font($font-YOR, 15px, 21px, none);

        margin-top: 21px;
    }
}

.price-wrapper__container{
    @include size_block(330px, 261px);

    margin: 294px auto 0;
    padding-top: 25px;
    background: $text-color--light;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    @media (max-width: $mobile){
        @include size_block(270px, 241px);

        margin: 223px 0 0;
        padding: 0;
    }
}

.price-wrapper-list{
    padding-left: 50px;
    margin-bottom: 10%;
}

.price-wrapper-list__item{
    @include font($font-FBC, 15px, 25px, none);

    color: #959595;

    @media (max-width: $mobile){
        @include font($font-FBC, 13px, 22px, none);
        
    }
}

.block-cost{
    @include size_block(228px, 54px);
    @include flex_center();
    @include pos_relative(none, none, 28px, 29px);
    
    background-color: $text-color--main;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

    @media (max-width: $mobile){
        @include size_block(190px, 40px);

        left: 0;
        bottom: 15px;
    }
}

.block-cost__numeral{
    @include font($font-YOR, 18px, 25px, $uppercase);

    @media (max-width: $mobile){
        @include font($font-YOR, 15px, 21px, $uppercase);

        margin: 10px 0;
    }
}

.repair-additional-info{
    display: flex;
    height: 775px;
    border:  1px solid red;

    @media (max-width: $mobile) {
        display: none;
    }
}

.repair-additional-info__container{
    width: 35.3%;
}


.form-call{
    margin-top: 51px;
    padding-top: 28px;
    background-color: $main-back-color;
}

.form-call__head{
    @include font($font-FDC, 20px, 25px, none);

    text-align: center;
}

.form-call-container{
    @include size_block(81%, 10%);
    @include flex_column();

    margin: 0 auto 48px;

    &:first-of-type{
        margin-top: 45px;
    }

    &:nth-last-of-type(2){
        margin-bottom: 0;
    }

}

.form-call-container__heading{
    @include font($font-FBC, 15px, 25px, none);

    color: rgba(255, 255, 255, 0.5);
}

.form-call-container__input{
    @include font($font-FMC, 18px, 25px, none);

    color: $text-color--light;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;

    &:placeholder-shown{
        background-color: $limpid;
    }

    &::placeholder { 
        @include font($font-FBC, 18px, 25px, none);

        color: $text-color--light;
        opacity: 1; 
    }
}

.form-call-check{
    margin: 16px 0 39px 9.6%;
}

.form-call-check__text{
    @extend %checkbox;

    color: $text-color--light;
}

.form-call-check__checkbox{
    opacity: 0;
}

.help-save-cost{
    @include size_block(441px, 72px);

    display: flex;
    align-items: center;
    margin: 38px auto 17%;
}

.help-save-cost__text{
    @include font($font-FDC, 20px, 25px, none);

    display: inline-block;
    width: 55%;
    margin-left: 6%;
    color: $text-color--main;
}


.repair-additional-info__circle{
    @include size_block(57.7%, 83%);

    @include image("./assets/img/background-circle.png");

    border: 1px solid green;
}

.circle{
    @include size_block(636px, 636px);

    position: relative;
    right: 131px;
    margin: 0px;
    border: 3px solid transparent;
    border-radius: 50%;
    background: 
       linear-gradient(#fff,#fff) padding-box,
       linear-gradient(to right, #fff 0%, #fff 20%, #fff 20%, $text-color--main 100%) border-box;

}

.block-fantasies{
   margin-top: 24px;
}

.block-fantasies__back{
    @include image("./assets/img/background-fantasie.png");

    display: flex;
    height: 864px;
    margin-top: 7.7%;

    @media (max-width: $mobile){
        height: 100%;
        background-image: none;
        margin: 0;
    }
}

.block-fantasies__wrapper{
    width: 40.5%;

    @media (max-width: $mobile){
        width: 100%;
    }
}

.block-fantasies__heading{
    @include font($font-YOR, 27px, 37px, $uppercase);

    display: inline-block;
    width: 284px;
    margin: 23% 0 8% 17%;
    font-weight: normal;
    color: $text-color--main;

    @media (max-width: $mobile){
        @include font($font-YOR, 22px, 30px, $uppercase);
       
        display: block;
        margin: 10px auto 24px;
        text-align: center;
    }
}

.block-fantasies-list{
    margin: 0;
    padding-left: 18%;
    list-style: none;

    @media (max-width: $mobile){
        display: none;
    }
}

.block-fantasies__item{
    @include font($font-PNR, 20px, 34px, none);

    display: table;  
    margin-bottom: 15px;

    &:last-of-type{
        margin-bottom: 0;
    }

    &:hover{
       @include hover_color($text-color--main);
       border-bottom: 1px solid $text-color--main;
    }
}

.block-fantasies__item--active{
    @include hover_color($text-color--main);
    border-bottom: 1px solid $text-color--main;
}

.block-fantasies__images{
    @include flex_column();
    @include pos_relative(none, 0, 40px, 0);

    margin-right: 43px;

    @media (max-width: $mobile){
        display: none;
    }
}

.block-fantasies__img-clock{
    margin-bottom: 40px;
}

.block-fantasies__img-sofa{
    margin-bottom: 40px;
}

.block-fantasies__images--position{
    @include pos_relative(none, 0, 111px, 0);
}

.mobile-slider-back{
    display: none;

    @media (max-width: $mobile){
       
        display: flex;
        justify-content: center;
        height: 242px;
        background: linear-gradient($text-color--light 30%, $main-back-color 0%);
    }
}

.price-wrapper-project-list--full-media{
    @media (max-width: $mobile){
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
