.additional-information__city h3, .additional-information__apartment-area h3, .additional-information__repair-time h3, .additional-information__repair-cost h3 {
  font-family: "Times New Roman", serif;
  font-size: 1.1em;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0;
  color: #E3B873;
}

.additional-information__name-city, .additional-information__area, .additional-information__time, .additional-information__cost {
  width: 94px;
  height: 42px;
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  display: inline-block;
  margin-top: 9px;
}

.slider__arrow-left:hover, .slider__arrow-right:hover {
  border: 1px solid #E3B873;
}

.input-name__enter, .input-phone__enter {
  height: 26px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.input-name__enter::-webkit-input-placeholder, .input-phone__enter::-webkit-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter:-ms-input-placeholder, .input-phone__enter:-ms-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter::placeholder, .input-phone__enter::placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
  color: #363636;
}

@media (max-width: 375px) {
  .input-name__enter, .input-phone__enter {
    border-bottom: 1px solid #363636;
    background-color: transparent;
  }
  .input-name__enter:placeholder-shown, .input-phone__enter:placeholder-shown {
    background-color: transparent;
  }
  .input-name__enter::-webkit-input-placeholder, .input-phone__enter::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter:-ms-input-placeholder, .input-phone__enter:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter::placeholder, .input-phone__enter::placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
    color: #ffffff;
  }
}

.input-name__heading, .input-phone__heading {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  color: rgba(54, 54, 54, 0.5);
}

@media (max-width: 375px) {
  .input-name__heading, .input-phone__heading {
    color: rgba(255, 255, 255, 0.3);
  }
}

.heading-wrapper__icon, .black-heading__icon {
  position: relative;
  margin: 0 auto;
}

.heading-wrapper__icon:before, .black-heading__icon:before {
  content: "";
  width: 2px;
  height: 32px;
  position: absolute;
  right: 56px;
  display: inline-block;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.heading-wrapper__icon:after, .black-heading__icon:after {
  content: "";
  width: 2px;
  height: 32px;
  position: absolute;
  left: 56px;
  display: inline-block;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.input-check__text, .form-call-check__text {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  display: inline-block;
  position: relative;
  padding-left: 6px;
  line-height: 20px;
  cursor: pointer;
  color: #363636;
}

.input-check__text:before, .form-call-check__text:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #E3B873;
}

.input-check__text:after, .form-call-check__text:after {
  content: "";
  width: 8px;
  height: 5px;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 4px;
  top: 4px;
  border-radius: 1px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url(./assets/fonts/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: "YesevaOne-Regular";
  src: url(./assets/fonts/YesevaOne-Regular.otf);
}

@font-face {
  font-family: "FuturaBookC-Regular";
  src: url(./assets/fonts/FuturaBookC.otf);
}

@font-face {
  font-family: "FuturaDemiC-Regular";
  src: url(./assets/fonts/FuturaDemiC.otf);
}

@font-face {
  font-family: "FuturaMediumC-Regular";
  src: url(./assets/fonts/FuturaMediumC-Regular.otf);
}

.header__button {
  width: 161px;
  height: 37px;
  margin: auto 0;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #E3B873;
}

.header__button p {
  margin: auto 0;
  font-family: "ProximaNova-Regular";
  font-size: 0.9em;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__button:hover {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.header__button:hover p {
  color: #E3B873;
}

@media (max-width: 375px) {
  .header__button {
    display: none;
  }
}

.order-wrapper__button {
  width: 207px;
  height: 51px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.order-wrapper__button p {
  font-family: "ProximaNova-Regular";
  font-size: 1em;
  line-height: 15px;
  text-transform: uppercase;
  margin: auto 0;
  color: #ffffff;
}

.order-wrapper__button:hover {
  background-color: #E3B873;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.order-wrapper__button:first-of-type {
  margin-left: 60px;
  margin-right: 1.5%;
}

@media (max-width: 375px) {
  .order-wrapper__button {
    width: 339px;
    height: 51px;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  .order-wrapper__button:first-of-type {
    margin-left: 4%;
  }
}

.order-wrapper__button--active {
  background-color: #E3B873;
  cursor: pointer;
}

.slider__dot {
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 17px;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__dot:hover {
  background-color: #ffffff;
}

.slider__dot:last-of-type {
  margin-right: 0;
}

.slider__dot--active {
  background-color: #ffffff;
}

.slider__arrow-left {
  width: 41px;
  height: 15px;
  margin-top: 2px;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(./assets/img/arrow-left.png);
}

.slider__arrow-right {
  width: 43px;
  height: 15px;
  margin-top: 2px;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(./assets/img/arrow-right.png);
}

.completed-project-slider__button {
  width: 55px;
  height: 55px;
  position: absolute;
  z-index: 3;
  padding: 0;
  margin-top: 205px;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #E3B873;
}

.completed-project-slider__button:hover {
  border: 2px solid #ff0000;
}

@media (max-width: 375px) {
  .completed-project-slider__button {
    width: 36px;
    height: 36px;
  }
  .completed-project-slider__button img {
    width: 6px;
    height: 10px;
  }
}

.completed-project-slider__button_right {
  right: 41px;
}

@media (max-width: 375px) {
  .completed-project-slider__button_right {
    right: 34px;
    margin-top: 103px;
  }
}

.completed-project-slider__button_left {
  display: none;
  margin-left: 46px;
}

@media (max-width: 375px) {
  .completed-project-slider__button_left {
    display: inline;
    margin-top: 103px;
    margin-left: 14px;
  }
}

.submit-button {
  width: 200px;
  height: 51px;
  border: 0 solid transparent;
  color: #ffffff;
  background-color: #E3B873;
}

@media (max-width: 375px) {
  .submit-button {
    width: 340px;
    height: 51px;
    position: relative;
    top: 82px;
    z-index: 2;
    margin: auto;
  }
}

.submit-button__left {
  width: 213px;
  height: 51px;
  margin-left: 48.2%;
  margin-bottom: 5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83px;
  background-color: #131313;
}

@media (max-width: 375px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 57px;
  }
}

.header-navbar {
  width: 40.5%;
  margin-top: 2.5%;
  margin-right: 4.6%;
}

@media (max-width: 375px) {
  .header-navbar {
    display: none;
  }
}

.header__logo {
  margin: 2.4% 7% 2.6% 5.6%;
  color: #E3B873;
}

.header__logo h1 {
  font-family: "FuturaDemiC-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 375px) {
  .header__logo {
    margin: 0 0 0 5%;
  }
}

.header-navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar-list__item {
  margin-right: 8%;
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 0.8em;
  line-height: 16px;
  text-transform: uppercase;
}

.header-navbar-list__item:hover {
  color: #E3B873;
  cursor: pointer;
}

.header-navbar-list__item:last-of-type {
  margin-right: 0;
}

.header-navbar-list__item--active {
  color: #E3B873;
  cursor: pointer;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "ProximaNova-Regular";
  font-size: 0.9em;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 3%;
  color: #E3B873;
}

.header__telephone {
  color: #E3B873;
}

@media (max-width: 375px) {
  .header__telephone {
    color: #ffffff;
    text-decoration: none;
  }
}

.section-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 755px;
  background-color: #131313;
}

@media (max-width: 375px) {
  .section-order {
    width: 100%;
    height: 476px;
  }
}

.sidebar {
  width: 82px;
  height: 463px;
  padding-top: 17%;
  color: #E3B873;
  background-color: #131313;
}

@media (max-width: 375px) {
  .sidebar {
    display: none;
  }
}

.sidebar__link {
  font-family: "FuturaDemiC-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  color: #E3B873;
  text-decoration: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.sidebar__link:hover {
  color: #ffffff;
}

.sidebar__link:after {
  content: "";
  width: 2px;
  height: 51px;
  position: absolute;
  top: -16px;
  left: 119px;
  display: inline-block;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.order-wrapper {
  width: 95%;
  height: 707px;
  background-image: url(./assets/img/background-section-order.png);
}

@media (max-width: 375px) {
  .order-wrapper {
    width: 100%;
    height: 391px;
    padding-top: 23%;
    background-image: url(./assets/img/background-section-order-mobile.png);
  }
}

.order-wrapper__heading {
  font-family: "YesevaOne-Regular", serif;
  font-size: 2.4em;
  line-height: 53px;
  text-transform: uppercase;
  width: 517px;
  height: 105px;
  margin: 14.3% 0 1.4% 4.5%;
  font-weight: normal;
}

.order-wrapper__heading:after {
  content: "Rostov-on-Don";
  color: #E3B873;
}

@media (max-width: 375px) {
  .order-wrapper__heading {
    font-family: "YesevaOne-Regular", serif;
    font-size: 1.5em;
    line-height: 30px;
    text-transform: uppercase;
    width: 339px;
    height: 60px;
    margin: 4% auto;
    font-weight: 400;
  }
}

.order-wrapper__description {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 1.2em;
  line-height: 30px;
  text-transform: none;
  width: 400px;
  height: 89px;
  display: inline-block;
  margin: 0 61% 41px 60px;
}

@media (max-width: 375px) {
  .order-wrapper__description {
    font-family: "ProximaNova-Regular";
    font-size: 1em;
    line-height: 24px;
    text-transform: none;
    width: 297px;
    height: 94px;
    margin: 0 0 9% 5%;
  }
}

.scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 247px;
  height: 97px;
  position: absolute;
  bottom: 99px;
  background-color: #131313;
}

.scroll-down:hover {
  color: #E3B873;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 375px) {
  .scroll-down {
    display: none;
  }
}

.scroll-down__link {
  font-family: "YesevaOne-Regular", serif;
  font-size: 1em;
  line-height: 19px;
  text-transform: uppercase;
}

.scroll-down__ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  margin-left: 4%;
  border: 1px solid #E3B873;
  border-radius: 25px;
}

.section-completed-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 669px;
  background-color: #131313;
}

@media (max-width: 375px) {
  .section-completed-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description-project {
  width: 36.5%;
  margin-left: 5.5%;
  padding-top: 9.5%;
}

@media (max-width: 375px) {
  .description-project {
    width: 100%;
    height: 222px;
    margin: 0;
    padding-top: 60px;
  }
}

.description-project__heading {
  width: 164px;
  height: 66px;
  font-family: "YesevaOne-Regular", serif;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: normal;
  color: #E3B873;
  letter-spacing: -1.5px;
}

.description-project__heading:after {
  content: "";
  width: 54%;
  height: 1px;
  position: absolute;
  top: 45px;
  left: 150px;
  display: inline-block;
  background-color: #E3B873;
}

@media (max-width: 375px) {
  .description-project__heading {
    width: 253px;
    height: 66px;
    margin: 0 auto;
    text-align: center;
  }
  .description-project__heading:after {
    display: none;
  }
}

.description-project__info {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  text-transform: none;
  width: 98%;
  height: 77px;
  display: inline-block;
  margin-bottom: 42px;
}

@media (max-width: 375px) {
  .description-project__info {
    width: 311px;
    height: 86px;
    font-family: "ProximaNova-Regular";
    font-size: 12.5px;
    line-height: 22px;
    text-transform: none;
    margin: 35px 32px;
    text-align: center;
  }
}

.additional-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 375px) {
  .additional-information {
    width: 341px;
    height: 130px;
    position: relative;
    top: 255px;
    margin: 0 auto;
  }
}

.additional-information__city {
  width: 155px;
  height: 69px;
}

@media (max-width: 375px) {
  .additional-information__city {
    width: 84px;
    height: 67px;
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 0.8em;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 76px;
    margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  .additional-information__name-city {
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: none;
  }
}

.additional-information__apartment-area {
  width: 205px;
  height: 52px;
  margin-right: 7%;
  margin-left: 6%;
}

@media (max-width: 375px) {
  .additional-information__apartment-area {
    width: 181px;
    height: 44px;
    font-family: "YesevaOne-Regular", serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
  }
}

@media (max-width: 375px) {
  .additional-information__area {
    width: 84px;
    height: 15px;
  }
}

.additional-information__repair-time {
  width: 150px;
  height: 55px;
  margin-top: 34px;
  margin-right: 32px;
}

@media (max-width: 375px) {
  .additional-information__repair-time {
    width: 108px;
    height: 44px;
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 0;
    margin-right: 52px;
  }
}

@media (max-width: 375px) {
  .additional-information__time {
    width: 84px;
    height: 15px;
  }
}

.additional-information__repair-cost {
  width: 209px;
  height: 55px;
  margin-top: 34px;
  margin-bottom: 79px;
}

@media (max-width: 375px) {
  .additional-information__repair-cost {
    width: 181px;
    height: 44px;
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .slider {
    display: none;
  }
}

.slider__dots {
  margin: 0 30px;
  padding-bottom: 1px;
}

.completed-project-navbar {
  width: 623px;
  height: 40px;
  margin: 58px 0 45px 67px;
}

@media (max-width: 375px) {
  .completed-project-navbar {
    display: none;
  }
}

.completed-project-navbar__list {
  width: 623px;
  height: 24px;
  font-family: "YesevaOne-Regular", serif;
  font-size: 0.9em;
  line-height: 19px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  list-style: none;
}

.completed-project-navbar-list__item {
  margin-right: 8%;
  color: rgba(255, 255, 255, 0.3);
}

.completed-project-navbar-list__item:hover {
  color: #E3B873;
  cursor: pointer;
  border-bottom: 1px solid #E3B873;
}

.completed-project-navbar-list__item:last-of-type {
  margin-right: 0;
}

.completed-project-navbar-list__item--active {
  color: #E3B873;
  cursor: pointer;
  border-bottom: 1px solid #E3B873;
}

.completed-project-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 375px) {
  .completed-project-slider {
    width: 100%;
    height: 241px;
  }
}

.completed-project-slider__images {
  width: 845px;
  height: 482px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 67px;
  overflow: hidden;
}

.completed-project-slider__images .completed-project-slider__image {
  margin-right: 21px;
}

@media (max-width: 375px) {
  .completed-project-slider__images {
    width: 349px;
    height: 241px;
    margin: 0 auto;
  }
  .completed-project-slider__images .completed-project-slider__image__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .completed-project-slider__images .completed-project-slider__image {
    display: none;
  }
}

.section-online-controls {
  margin: 0;
  background: #ffffff;
}

@media (max-width: 375px) {
  .section-online-controls {
    background: #131313;
  }
}

.section-online-control__video {
  height: 434px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, #131313), color-stop(48%, #ffffff));
  background: linear-gradient(#131313 52%, #ffffff 48%);
}

.section-online-control__video iframe {
  width: 57%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .section-online-control__video iframe {
    margin: 0 auto;
    width: 340px;
  }
}

@media (max-width: 375px) {
  .section-online-control__video {
    height: 207px;
    background: #131313;
  }
}

.section-online-controls__line {
  width: 51px;
  height: 1px;
  margin: 4.5% auto 2.4% auto;
  background-color: #E3B873;
}

@media (max-width: 375px) {
  .section-online-controls__line {
    margin: 28px auto 21px;
  }
}

.section-online-control__text {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-transform: none;
  display: block;
  width: 47%;
  margin: 0 auto;
  text-align: center;
  color: #363636;
}

@media (max-width: 375px) {
  .section-online-control__text {
    width: 340px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 53.5%;
  margin: 91px auto 109px auto;
}

@media (max-width: 375px) {
  .submit-form {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 28px auto 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(92%, #131313), color-stop(8%, #ffffff));
    background: linear-gradient(#131313 92%, #ffffff 8%);
  }
}

.input-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15.4%;
}

@media (max-width: 375px) {
  .input-name {
    width: 340px;
    height: 100%;
    margin: auto;
    margin-bottom: 63px;
  }
}

.input-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6.5%;
}

@media (max-width: 375px) {
  .input-phone {
    width: 340px;
    height: 100%;
    margin: auto;
    margin-bottom: 26px;
  }
}

.input-phone__heading {
  width: 231px;
}

.input-check {
  margin: 2% auto;
}

@media (max-width: 375px) {
  .input-check {
    position: relative;
    bottom: 52px;
    z-index: 2;
    margin: auto;
    margin-bottom: 62px;
  }
}

@media (max-width: 375px) {
  .input-check__text {
    color: #ffffff;
  }
}

.input-check__checkbox {
  opacity: 0;
}

.heading-wrapper__head {
  font-family: "YesevaOne-Regular", serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 13px auto;
  text-align: center;
  color: #181818;
}

@media (max-width: 375px) {
  .heading-wrapper__head {
    margin-top: 58px;
  }
}

.heading-wrapper__icon {
  width: 32px;
  height: 29px;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 7% 12%;
}

@media (max-width: 375px) {
  .price-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 5% 12%;
  }
}

.price-wrapper__item {
  width: 32%;
  margin-right: 2.5%;
}

.price-wrapper__item:last-child {
  margin-right: 0;
}

@media (max-width: 375px) {
  .price-wrapper__item {
    width: 340px;
    height: 484px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0;
    margin-bottom: 59px;
  }
  .price-wrapper__item:last-child {
    margin-bottom: 0;
  }
}

.price-wrapper--back-redecorating {
  background-image: url("./assets/img/redecorating.png");
  background-repeat: no-repeat;
}

.price-wrapper--back-overhaul {
  background-image: url("./assets/img/overhaul.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .price-wrapper--back-overhaul {
    background-image: url("./assets/img/overhaul-media.png");
    background-repeat: no-repeat;
  }
}

.price-wrapper--back-designer-repair {
  background-image: url("./assets/img/designer-repair.png");
  background-repeat: no-repeat;
}

.price-wrapper__head-item {
  font-family: "YesevaOne-Regular", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  margin: 0 0 13px 34px;
  color: #363636;
}

@media (max-width: 375px) {
  .price-wrapper__head-item {
    font-family: "YesevaOne-Regular", serif;
    font-size: 15px;
    line-height: 21px;
    text-transform: none;
    margin-top: 21px;
  }
}

.price-wrapper__container {
  width: 330px;
  height: 261px;
  margin: 294px auto 0;
  padding-top: 25px;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@media (max-width: 375px) {
  .price-wrapper__container {
    width: 270px;
    height: 241px;
    margin: 223px 0 0;
    padding: 0;
  }
}

.price-wrapper-list {
  padding-left: 50px;
  margin-bottom: 10%;
}

.price-wrapper-list__item {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-transform: none;
  color: #959595;
}

@media (max-width: 375px) {
  .price-wrapper-list__item {
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 13px;
    line-height: 22px;
    text-transform: none;
  }
}

.block-cost {
  width: 228px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: none;
  right: none;
  bottom: 28px;
  left: 29px;
  background-color: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

@media (max-width: 375px) {
  .block-cost {
    width: 190px;
    height: 40px;
    left: 0;
    bottom: 15px;
  }
}

.block-cost__numeral {
  font-family: "YesevaOne-Regular", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .block-cost__numeral {
    font-family: "YesevaOne-Regular", serif;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 10px 0;
  }
}

.repair-additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 775px;
  border: 1px solid red;
}

@media (max-width: 375px) {
  .repair-additional-info {
    display: none;
  }
}

.repair-additional-info__container {
  width: 35.3%;
}

.form-call {
  margin-top: 51px;
  padding-top: 28px;
  background-color: #131313;
}

.form-call__head {
  font-family: "FuturaDemiC-Regular", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-transform: none;
  text-align: center;
}

.form-call-container {
  width: 81%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 48px;
}

.form-call-container:first-of-type {
  margin-top: 45px;
}

.form-call-container:nth-last-of-type(2) {
  margin-bottom: 0;
}

.form-call-container__heading {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-transform: none;
  color: rgba(255, 255, 255, 0.5);
}

.form-call-container__input {
  font-family: "FuturaMediumC-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  color: #ffffff;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
}

.form-call-container__input:placeholder-shown {
  background-color: transparent;
}

.form-call-container__input::-webkit-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  color: #ffffff;
  opacity: 1;
}

.form-call-container__input:-ms-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  color: #ffffff;
  opacity: 1;
}

.form-call-container__input::-ms-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  color: #ffffff;
  opacity: 1;
}

.form-call-container__input::placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  color: #ffffff;
  opacity: 1;
}

.form-call-check {
  margin: 16px 0 39px 9.6%;
}

.form-call-check__text {
  color: #ffffff;
}

.form-call-check__checkbox {
  opacity: 0;
}

.help-save-cost {
  width: 441px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 38px auto 17%;
}

.help-save-cost__text {
  font-family: "FuturaDemiC-Regular", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-transform: none;
  display: inline-block;
  width: 55%;
  margin-left: 6%;
  color: #E3B873;
}

.repair-additional-info__circle {
  width: 57.7%;
  height: 83%;
  background-image: url("./assets/img/background-circle.png");
  background-repeat: no-repeat;
  border: 1px solid green;
}

.circle {
  width: 636px;
  height: 636px;
  position: relative;
  right: 131px;
  margin: 0px;
  border: 3px solid transparent;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, right top, from(#fff), color-stop(20%, #fff), color-stop(20%, #fff), to(#E3B873)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #fff 0%, #fff 20%, #fff 20%, #E3B873 100%) border-box;
}

.block-fantasies {
  margin-top: 24px;
}

.block-fantasies__back {
  background-image: url("./assets/img/background-fantasie.png");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 864px;
  margin-top: 7.7%;
}

@media (max-width: 375px) {
  .block-fantasies__back {
    height: 100%;
    background-image: none;
    margin: 0;
  }
}

.block-fantasies__wrapper {
  width: 40.5%;
}

@media (max-width: 375px) {
  .block-fantasies__wrapper {
    width: 100%;
  }
}

.block-fantasies__heading {
  font-family: "YesevaOne-Regular", serif;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  display: inline-block;
  width: 284px;
  margin: 23% 0 8% 17%;
  font-weight: normal;
  color: #E3B873;
}

@media (max-width: 375px) {
  .block-fantasies__heading {
    font-family: "YesevaOne-Regular", serif;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
    margin: 10px auto 24px;
    text-align: center;
  }
}

.block-fantasies-list {
  margin: 0;
  padding-left: 18%;
  list-style: none;
}

@media (max-width: 375px) {
  .block-fantasies-list {
    display: none;
  }
}

.block-fantasies__item {
  font-family: "ProximaNova-Regular";
  font-size: 20px;
  line-height: 34px;
  text-transform: none;
  display: table;
  margin-bottom: 15px;
}

.block-fantasies__item:last-of-type {
  margin-bottom: 0;
}

.block-fantasies__item:hover {
  color: #E3B873;
  cursor: pointer;
  border-bottom: 1px solid #E3B873;
}

.block-fantasies__item--active {
  color: #E3B873;
  cursor: pointer;
  border-bottom: 1px solid #E3B873;
}

.block-fantasies__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: none;
  right: 0;
  bottom: 40px;
  left: 0;
  margin-right: 43px;
}

@media (max-width: 375px) {
  .block-fantasies__images {
    display: none;
  }
}

.block-fantasies__img-clock {
  margin-bottom: 40px;
}

.block-fantasies__img-sofa {
  margin-bottom: 40px;
}

.block-fantasies__images--position {
  position: relative;
  top: none;
  right: 0;
  bottom: 111px;
  left: 0;
}

.mobile-slider-back {
  display: none;
}

@media (max-width: 375px) {
  .mobile-slider-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 242px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ffffff), color-stop(0%, #131313));
    background: linear-gradient(#ffffff 30%, #131313 0%);
  }
}

@media (max-width: 375px) {
  .price-wrapper-project-list--full-media {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.section-design-project {
  padding-top: 154px;
}

@media (max-width: 375px) {
  .section-design-project {
    padding-top: 51px;
    color: #ffffff;
    background-color: #131313;
  }
}

@media (max-width: 375px) {
  .heading-wrapper__head--letter-white {
    margin-top: 0;
    color: #ffffff;
  }
}

.section-design-project__description {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-transform: none;
  display: block;
  margin: 24px auto 39px;
  text-align: center;
  color: #363636;
}

@media (max-width: 375px) {
  .section-design-project__description {
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    width: 314px;
    color: #ffffff;
  }
}

.price-wrapper-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%, #ffffff), color-stop(0%, #131313));
  background: linear-gradient(#ffffff 38%, #131313 0%);
}

@media (max-width: 375px) {
  .price-wrapper-project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #131313;
  }
}

.price-wrapper-project__item {
  width: 27%;
  min-width: 340px;
  margin-right: 2.5%;
}

.price-wrapper-project__item:first-child {
  margin-left: 7%;
}

.price-wrapper-project__item:last-child {
  margin-right: 7%;
}

@media (max-width: 375px) {
  .price-wrapper-project__item {
    height: 420px;
    margin: 0 0 60px;
  }
  .price-wrapper-project__item:first-child {
    margin: 0 0 60px;
  }
  .price-wrapper-project__item:last-child {
    margin: 0;
  }
}

.price-wrapper-project__item--back-mini {
  background-image: url("./assets/img/mini.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .price-wrapper-project__item--back-mini {
    background-image: url("./assets/img/mini-media.png");
    background-repeat: no-repeat;
  }
}

.price-wrapper-project__item--back-standard {
  background-image: url("./assets/img/standard.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .price-wrapper-project__item--back-standard {
    background-image: url("./assets/img/standard-media.png");
    background-repeat: no-repeat;
    height: 484px;
  }
}

.price-wrapper-project__item--back-full {
  background-image: url("./assets/img/full.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .price-wrapper-project__item--back-full {
    background-image: url("./assets/img/full-media.png");
    background-repeat: no-repeat;
    height: 484px;
  }
}

.price-wrapper-project__container {
  margin: 294px auto 0;
  padding-top: 25px;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

@media (max-width: 375px) {
  .price-wrapper-project__container {
    margin: 223px 0 0;
    padding-top: 18px;
  }
}

.price-wrapper-project__container--mini {
  width: 330px;
  height: 196px;
}

@media (max-width: 375px) {
  .price-wrapper-project__container--mini {
    width: 270px;
    height: 159px;
  }
}

.price-wrapper-project__head-item {
  font-family: "YesevaOne-Regular", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  margin: 0 0 13px 34px;
  color: #363636;
}

.price-wrapper-project-list {
  padding-left: 50px;
  margin: 0 0 30px 0;
}

.price-wrapper-project-list__item {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-transform: none;
  color: #959595;
}

@media (max-width: 375px) {
  .price-wrapper-project-list__item {
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 13px;
    line-height: 22px;
    text-transform: none;
  }
}

@media (max-width: 375px) {
  .block-cost--start {
    bottom: 20px;
  }
}

.block-cost__numeral--left {
  margin-right: 40px;
}

@media (max-width: 375px) {
  .block-cost__numeral--left {
    margin: 0;
    text-align: center;
  }
}

.price-wrapper-project__container--standard {
  width: 330px;
  height: 261px;
}

@media (max-width: 375px) {
  .price-wrapper-project__container--standard {
    width: 270px;
    height: 223px;
  }
}

.price-wrapper-project__container--full {
  width: 330px;
  height: 389px;
}

@media (max-width: 375px) {
  .price-wrapper-project__container--full {
    width: 270px;
    height: 223px;
  }
}

.additional-text {
  font-family: "FuturaDemiC-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 138px;
}

@media (max-width: 375px) {
  .additional-text {
    display: none;
  }
}

.steps-goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 661px;
  background-color: #131313;
}

@media (max-width: 375px) {
  .steps-goal {
    display: none;
  }
}

.steps-goal__information {
  width: 32.5%;
  margin-left: 7%;
}

.steps-goal__heading {
  font-family: "YesevaOne-Regular", serif;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 0 0 93px;
  font-weight: normal;
  color: #E3B873;
}

.steps-goal__heading:after {
  content: "";
  width: 92px;
  height: 2px;
  position: absolute;
  bottom: 20px;
  left: 205px;
  background-color: #E3B873;
}

.steps-goal__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 337px;
  margin-bottom: 62px;
}

.steps-goal__description-number {
  font-family: "YesevaOne-Regular", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 33px;
  font-weight: normal;
}

.steps-goal__description-heading {
  font-family: "YesevaOne-Regular", serif;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  display: inline-block;
  width: 234px;
  font-weight: normal;
  margin: 0 0 16px;
  color: #E3B873;
}

.steps-goal__description-text {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-transform: none;
}

.steps-goal__container {
  width: 770px;
  height: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 41px;
}

.steps-goal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.steps-goal-list:first-child {
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.steps-goal-list__item {
  margin-bottom: 36px;
  margin-right: 200px;
  color: rgba(54, 54, 54, 0.5);
}

.steps-goal-list__item:last-child {
  width: 98px;
  margin: 0;
}

.steps-goal-list__item:hover {
  color: #ffffff;
}

.steps-goal-list__item--active {
  color: #ffffff;
}

.steps-goal-list__description {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-transform: none;
  display: block;
}

.steps-goal-list__number-step {
  font-family: "YesevaOne-Regular", serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: none;
  font-weight: normal;
  display: inline-block;
  width: 16px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(227, 184, 115, 0.3);
}

.steps-goal-list__number-step:hover {
  border-bottom: 2px solid #E3B873;
}

.steps-goal-list__number-step--active {
  border-bottom: 2px solid #E3B873;
}

.section-our-team {
  background-color: #131313;
}

.section-our-team__description {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-transform: none;
  display: block;
  width: 32%;
  margin: 23px auto 36px;
  text-align: center;
  color: #ffffff;
  background-color: #131313;
}

@media (max-width: 375px) {
  .section-our-team__description {
    font-family: "FuturaBookC-Regular", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: none;
    width: 314px;
    color: #ffffff;
  }
}

.section-our-team__wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #131313), color-stop(0%, #ffffff));
  background: linear-gradient(#131313 35%, #ffffff 0%);
}

@media (max-width: 375px) {
  .section-our-team__wrapper {
    background: #131313;
  }
}

.block-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 74%;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .block-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
  }
}

.block-team__icon-back {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  background-color: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.block-team__photo {
  width: 272px;
  margin: -35px 0 0 35px;
  border: 1px solid transparent;
}

@media (max-width: 375px) {
  .block-team__photo {
    width: 304px;
  }
}

.block-team__photo--manager {
  background-image: url("./assets/img/photo-manager.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .block-team__photo--manager {
    background-image: url("./assets/img/photo-manager-media.png");
    background-repeat: no-repeat;
  }
}

.block-team__photo--designer {
  background-image: url("./assets/img/photo-designer.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .block-team__photo--designer {
    background-image: url("./assets/img/photo-designer-media.png");
    background-repeat: no-repeat;
  }
}

.block-team__photo--foreman {
  background-image: url("./assets/img/photo-foreman.png");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .block-team__photo--foreman {
    background-image: url("./assets/img/photo-foreman-media.png");
    background-repeat: no-repeat;
  }
}

@media (max-width: 375px) {
  .block-team__member {
    width: 340px;
    margin-bottom: 54px;
  }
  .block-team__member:last-child {
    margin-bottom: 0;
  }
}

.block-team__photo-sign {
  width: 233px;
  height: 133px;
  margin: 277px auto 0;
  background-color: #E3B873;
}

.block-team__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 93px;
  background-color: #ffffff;
}

.block-team__name {
  font-family: "YesevaOne-Regular", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: none;
  display: block;
  margin: 0;
  font-weight: normal;
  color: #363636;
}

.block-team__position {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  display: block;
  margin: 0;
  color: #959595;
}

.block-team__exp {
  font-family: "YesevaOne-Regular", serif;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin: 13px 0;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  background-color: #E3B873;
}

.section-our-team__line {
  width: 51px;
  height: 1px;
  margin: 3.7% auto 1.2% auto;
  background-color: #E3B873;
}

@media (max-width: 375px) {
  .section-our-team__line {
    display: none;
  }
}

.section-our-team__container {
  width: 39%;
  margin: 0 auto 19px;
}

@media (max-width: 375px) {
  .section-our-team__container {
    display: none;
  }
}

.section-our-team__additional {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-transform: none;
  display: block;
  text-align: center;
  color: #363636;
}

.black-heading {
  height: 95px;
  padding-top: 4%;
  background-color: #131313;
}

@media (max-width: 375px) {
  .black-heading {
    padding-top: 43px;
  }
}

.black-heading__text {
  font-family: "YesevaOne-Regular", serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 13px auto;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}

.black-heading__icon {
  width: 34px;
  height: 29px;
}

.black-heading__image {
  margin: 0 auto;
}

.black-heading--bottom {
  padding-top: 93px;
}
/*# sourceMappingURL=main.css.map */