.additional-information__city h3, .additional-information__apartment-area h3, .additional-information__repair-time h3, .additional-information__repair-cost h3 {
  font-family: "Times New Roman", serif;
  font-size: 1.1em;
  text-transform: uppercase;
  margin: 0;
  color: #E3B873;
}

.additional-information__name-city, .additional-information__area, .additional-information__time, .additional-information__cost {
  width: 94px;
  height: 42px;
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  text-transform: none;
  display: inline-block;
  margin-top: 9px;
}

.slider__arrow-left:hover, .slider__arrow-right:hover {
  border: 1px solid #E3B873;
}

.input-name__enter, .input-phone__enter {
  height: 26px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.input-name__enter::-webkit-input-placeholder, .input-phone__enter::-webkit-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter:-ms-input-placeholder, .input-phone__enter:-ms-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter::placeholder, .input-phone__enter::placeholder {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  text-transform: none;
  color: #363636;
  opacity: 1;
}

.input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
  color: #363636;
}

@media (max-width: 375px) {
  .input-name__enter, .input-phone__enter {
    border-bottom: 1px solid #363636;
  }
  .input-name__enter:placeholder-shown, .input-phone__enter:placeholder-shown {
    background-color: transparent;
  }
  .input-name__enter::-webkit-input-placeholder, .input-phone__enter::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter:-ms-input-placeholder, .input-phone__enter:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter::placeholder, .input-phone__enter::placeholder {
    color: #ffffff;
    opacity: 1;
  }
  .input-name__enter::-ms-input-placeholder, .input-phone__enter::-ms-input-placeholder {
    color: #ffffff;
  }
}

.input-name__heading, .input-phone__heading {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 15px;
  text-transform: none;
  color: rgba(54, 54, 54, 0.5);
}

@media (max-width: 375px) {
  .input-name__heading, .input-phone__heading {
    color: rgba(255, 255, 255, 0.3);
  }
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url(./assets/fonts/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: "YesevaOne-Regular";
  src: url(./assets/fonts/YesevaOne-Regular.ttf);
}

@font-face {
  font-family: "FuturaBookC-Regular";
  src: url(./assets/fonts/FuturaBookC.otf);
}

.header__button {
  width: 161px;
  height: 37px;
  margin: auto 0;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #E3B873;
}

.header__button p {
  margin: auto 0;
  font-family: "ProximaNova-Regular";
  font-size: 0.9em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__button:hover {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.header__button:hover p {
  color: #E3B873;
}

@media (max-width: 375px) {
  .header__button {
    display: none;
  }
}

.order-wrapper__button {
  width: 207px;
  height: 51px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.order-wrapper__button p {
  font-family: "ProximaNova-Regular";
  font-size: 1em;
  text-transform: uppercase;
  margin: auto 0;
  color: #ffffff;
}

.order-wrapper__button:hover {
  background-color: #E3B873;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.order-wrapper__button:first-of-type {
  margin-left: 60px;
  margin-right: 1.5%;
}

@media (max-width: 375px) {
  .order-wrapper__button {
    width: 339px;
    height: 51px;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  .order-wrapper__button:first-of-type {
    margin-left: 4%;
  }
}

.order-wrapper__button--active {
  background-color: #E3B873;
  cursor: pointer;
}

.slider__dot {
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 17px;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__dot:hover {
  background-color: #ffffff;
}

.slider__dot:last-of-type {
  margin-right: 0;
}

.slider__dot--active {
  background-color: #ffffff;
}

.slider__arrow-left {
  width: 41px;
  height: 15px;
  margin-top: 2px;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(./assets/img/arrow-left.png);
}

.slider__arrow-right {
  width: 43px;
  height: 15px;
  margin-top: 2px;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(./assets/img/arrow-right.png);
}

.completed-project-slider__button {
  width: 55px;
  height: 55px;
  position: absolute;
  z-index: 3;
  padding: 0;
  margin-top: 205px;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #E3B873;
}

.completed-project-slider__button:hover {
  border: 2px solid #ff0000;
}

@media (max-width: 375px) {
  .completed-project-slider__button {
    width: 36px;
    height: 36px;
  }
  .completed-project-slider__button img {
    width: 6px;
    height: 10px;
  }
}

.completed-project-slider__button_right {
  right: 41px;
}

@media (max-width: 375px) {
  .completed-project-slider__button_right {
    right: 34px;
    margin-top: 103px;
  }
}

.completed-project-slider__button_left {
  display: none;
  margin-left: 46px;
}

@media (max-width: 375px) {
  .completed-project-slider__button_left {
    display: inline;
    margin-top: 103px;
    margin-left: 14px;
  }
}

.submit-form__button {
  width: 200px;
  height: 51px;
  border: 0 solid transparent;
  color: #ffffff;
  background-color: #E3B873;
}

@media (max-width: 375px) {
  .submit-form__button {
    width: 340px;
    height: 51px;
    position: relative;
    top: 82px;
    z-index: 2;
    margin: auto;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83px;
  background-color: #131313;
}

@media (max-width: 375px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 57px;
  }
}

.header-navbar {
  width: 40.5%;
  margin-top: 2.5%;
  margin-right: 4.6%;
}

@media (max-width: 375px) {
  .header-navbar {
    display: none;
  }
}

.header__logo {
  margin: 2.4% 7% 2.6% 6%;
  font-family: "ProximaNova-Regular";
  font-size: 0.4em;
  text-transform: uppercase;
  color: #E3B873;
}

.header__logo h1 {
  margin: 0;
}

@media (max-width: 375px) {
  .header__logo {
    margin: 0 0 0 5%;
  }
}

.header-navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navbar-list__item {
  margin-right: 8%;
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}

.header-navbar-list__item:hover {
  color: #E3B873;
  cursor: pointer;
}

.header-navbar-list__item:last-of-type {
  margin-right: 0;
}

.header-navbar-list__item--active {
  color: #E3B873;
  cursor: pointer;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "ProximaNova-Regular";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 3%;
  color: #E3B873;
}

.header__telephone {
  color: #E3B873;
}

@media (max-width: 375px) {
  .header__telephone {
    color: #ffffff;
    text-decoration: none;
  }
}

.section-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 755px;
  background-color: #131313;
}

@media (max-width: 375px) {
  .section-order {
    width: 100%;
    height: 476px;
  }
}

.sidebar {
  width: 82px;
  height: 463px;
  padding-top: 17%;
  color: #E3B873;
  background-color: #131313;
}

@media (max-width: 375px) {
  .sidebar {
    display: none;
  }
}

.sidebar__link {
  font-family: "ProximaNova-Regular";
  font-size: 1em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  color: #E3B873;
  text-decoration: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.sidebar__link:hover {
  color: #ffffff;
}

.sidebar__link:after {
  content: "";
  width: 2px;
  height: 51px;
  position: absolute;
  top: -16px;
  left: 119px;
  display: inline-block;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.order-wrapper {
  width: 95%;
  height: 707px;
  background-image: url(./assets/img/background-section-order.png);
}

@media (max-width: 375px) {
  .order-wrapper {
    width: 100%;
    height: 391px;
    padding-top: 23%;
    background-image: url(./assets/img/background-section-order-mobile.png);
  }
}

.order-wrapper__heading {
  font-family: "YesevaOne-Regular", serif;
  font-size: 2.4em;
  text-transform: uppercase;
  width: 517px;
  height: 105px;
  margin: 14.3% 0 1.4% 4.5%;
  font-weight: 600;
  line-height: 53px;
}

.order-wrapper__heading:after {
  content: "Rostov-on-Don";
  color: #E3B873;
}

@media (max-width: 375px) {
  .order-wrapper__heading {
    font-family: "YesevaOne-Regular", serif;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 339px;
    height: 60px;
    margin: 4% auto;
    font-weight: 400;
    line-height: 30px;
  }
}

.order-wrapper__description {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 1.2em;
  text-transform: none;
  width: 400px;
  height: 89px;
  display: inline-block;
  margin: 0 61% 41px 60px;
  line-height: 30px;
}

@media (max-width: 375px) {
  .order-wrapper__description {
    font-family: "ProximaNova-Regular";
    font-size: 1em;
    text-transform: none;
    width: 297px;
    height: 94px;
    margin: 0 0 9% 5%;
    line-height: 24px;
  }
}

.scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 247px;
  height: 97px;
  position: absolute;
  bottom: 99px;
  background-color: #131313;
}

.scroll-down:hover {
  color: #E3B873;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 375px) {
  .scroll-down {
    display: none;
  }
}

.scroll-down__link {
  font-family: "YesevaOne-Regular", serif;
  font-size: 1em;
  text-transform: uppercase;
}

.scroll-down__ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  margin-left: 4%;
  border: 1px solid #E3B873;
  border-radius: 25px;
}

.section-completed-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 669px;
  background-color: #131313;
}

@media (max-width: 375px) {
  .section-completed-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description-project {
  width: 36.5%;
  height: 529px;
  margin-left: 5.5%;
  padding-top: 9.5%;
}

@media (max-width: 375px) {
  .description-project {
    width: 100%;
    height: 222px;
    margin: 0;
    padding-top: 60px;
  }
}

.description-project__heading {
  width: 164px;
  height: 66px;
  font-family: "Times New Roman", serif;
  font-size: 1.7em;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 34px;
  color: #E3B873;
  letter-spacing: -1.5px;
}

.description-project__heading:after {
  content: "";
  width: 54%;
  height: 1px;
  position: absolute;
  top: 45px;
  left: 150px;
  display: inline-block;
  background-color: #E3B873;
}

@media (max-width: 375px) {
  .description-project__heading {
    width: 253px;
    height: 66px;
    margin: 0 auto;
    text-align: center;
  }
  .description-project__heading:after {
    display: none;
  }
}

.description-project__info {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 18px;
  text-transform: none;
  width: 98%;
  height: 77px;
  display: inline-block;
  margin-bottom: 42px;
  line-height: 28px;
}

@media (max-width: 375px) {
  .description-project__info {
    width: 311px;
    height: 86px;
    font-family: "ProximaNova-Regular";
    font-size: 12.5px;
    text-transform: none;
    margin: 35px 32px;
    text-align: center;
    line-height: 22px;
  }
}

.additional-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 375px) {
  .additional-information {
    width: 341px;
    height: 130px;
    position: relative;
    top: 255px;
    margin: 0 auto;
  }
}

.additional-information__city {
  width: 155px;
  height: 69px;
}

@media (max-width: 375px) {
  .additional-information__city {
    width: 84px;
    height: 67px;
    font-family: "Times New Roman", serif;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-right: 76px;
  }
}

@media (max-width: 375px) {
  .additional-information__name-city {
    width: 84px;
    height: 37px;
  }
}

.additional-information__apartment-area {
  width: 205px;
  height: 52px;
  margin-right: 7%;
  margin-left: 6%;
}

@media (max-width: 375px) {
  .additional-information__apartment-area {
    width: 181px;
    height: 44px;
    font-family: "Times New Roman", serif;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .additional-information__area {
    width: 84px;
    height: 15px;
  }
}

.additional-information__repair-time {
  width: 150px;
  height: 55px;
  margin-top: 34px;
  margin-right: 32px;
}

@media (max-width: 375px) {
  .additional-information__repair-time {
    width: 100px;
    height: 44px;
    font-family: "Times New Roman", serif;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 0;
    margin-right: 58px;
  }
}

@media (max-width: 375px) {
  .additional-information__time {
    width: 84px;
    height: 15px;
  }
}

.additional-information__repair-cost {
  width: 209px;
  height: 55px;
  margin-top: 34px;
  margin-bottom: 79px;
}

@media (max-width: 375px) {
  .additional-information__repair-cost {
    width: 181px;
    height: 44px;
    font-family: "Times New Roman", serif;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .additional-information__cost {
    width: 84px;
    height: 15px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .slider {
    display: none;
  }
}

.slider__dots {
  margin: 0 30px;
  padding-bottom: 1px;
}

.completed-project-navbar {
  width: 623px;
  height: 40px;
  margin: 58px 0 45px 67px;
}

@media (max-width: 375px) {
  .completed-project-navbar {
    display: none;
  }
}

.completed-project-navbar__list {
  width: 623px;
  height: 24px;
  font-family: "YesevaOne-Regular", serif;
  font-size: 0.9em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  list-style: none;
}

.completed-project-navbar-list__item {
  margin-right: 8%;
  color: rgba(255, 255, 255, 0.3);
}

.completed-project-navbar-list__item:hover {
  color: #E3B873;
  cursor: pointer;
  border-bottom: 1px solid #E3B873;
}

.completed-project-navbar-list__item:last-of-type {
  margin-right: 0;
}

.completed-project-navbar-list__item--active {
  color: #E3B873;
  cursor: pointer;
  border-bottom: 1px solid #E3B873;
}

.completed-project-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 375px) {
  .completed-project-slider {
    width: 100%;
    height: 241px;
  }
}

.completed-project-slider__images {
  width: 845px;
  height: 482px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 67px;
  overflow: hidden;
}

.completed-project-slider__images .completed-project-slider__image {
  margin-right: 21px;
}

@media (max-width: 375px) {
  .completed-project-slider__images {
    width: 349px;
    height: 241px;
    margin: 0 auto;
  }
  .completed-project-slider__images .completed-project-slider__image__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .completed-project-slider__images .completed-project-slider__image {
    display: none;
  }
}

.section-online-controls {
  margin: 0;
  background: #ffffff;
}

@media (max-width: 375px) {
  .section-online-controls {
    background: #131313;
  }
}

.section-online-controls__wrapper {
  height: 95px;
  padding-top: 4%;
  background-color: #131313;
}

@media (max-width: 375px) {
  .section-online-controls__wrapper {
    padding-top: 43px;
  }
}

.section-online-controls__heading {
  width: 196px;
  height: 26px;
  font-family: "YesevaOne-Regular", serif;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 13px auto;
  font-weight: 400;
}

.section-online-control__icon {
  width: 34px;
  height: 29px;
  position: relative;
  margin: 0 auto;
}

.section-online-control__icon:before {
  content: "";
  width: 2px;
  height: 32px;
  position: absolute;
  right: 56px;
  display: inline-block;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section-online-control__icon:after {
  content: "";
  width: 2px;
  height: 32px;
  position: absolute;
  left: 56px;
  display: inline-block;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section-online-control__camera {
  margin: 0 auto;
}

.section-online-control__video {
  height: 434px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(52%, #131313), color-stop(48%, #ffffff));
  background: linear-gradient(#131313 52%, #ffffff 48%);
}

.section-online-control__video iframe {
  width: 57%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .section-online-control__video iframe {
    margin: 0 auto;
    width: 340px;
  }
}

@media (max-width: 375px) {
  .section-online-control__video {
    height: 207px;
    background: #131313;
  }
}

.section-online-controls__line {
  width: 51px;
  height: 1px;
  margin: 4.5% auto 2.4% auto;
  background-color: #E3B873;
}

@media (max-width: 375px) {
  .section-online-controls__line {
    margin: 28px auto 21px;
  }
}

.section-online-control__text {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 20px;
  text-transform: none;
  display: block;
  width: 47%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  color: #363636;
}

@media (max-width: 375px) {
  .section-online-control__text {
    width: 340px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 53.5%;
  margin: 91px auto 109px auto;
}

@media (max-width: 375px) {
  .submit-form {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 28px auto 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(92%, #131313), color-stop(8%, #ffffff));
    background: linear-gradient(#131313 92%, #ffffff 8%);
  }
}

.input-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15.4%;
}

@media (max-width: 375px) {
  .input-name {
    width: 340px;
    height: 100%;
    margin: auto;
    margin-bottom: 63px;
  }
}

.input-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6.5%;
}

@media (max-width: 375px) {
  .input-phone {
    width: 340px;
    height: 100%;
    margin: auto;
    margin-bottom: 26px;
  }
}

.input-phone__heading {
  width: 231px;
}

.input-check {
  margin: 2% auto;
}

@media (max-width: 375px) {
  .input-check {
    position: relative;
    bottom: 52px;
    z-index: 2;
    margin: auto;
    margin-bottom: 62px;
  }
}

.input-check__text {
  font-family: "FuturaBookC-Regular", sans-serif;
  font-size: 16px;
  text-transform: none;
  display: inline-block;
  position: relative;
  padding-left: 6px;
  line-height: 20px;
  cursor: pointer;
  color: #363636;
}

.input-check__text:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #E3B873;
}

.input-check__text:after {
  content: "";
  width: 8px;
  height: 5px;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 4px;
  top: 4px;
  border-radius: 1px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 375px) {
  .input-check__text {
    color: #ffffff;
  }
}

.input-check__checkbox {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */