$font-PNR: "ProximaNova-Regular";
$font-YOR: "YesevaOne-Regular", serif;
$font-TNR: "Times New Roman", serif;
$mobile: 375px;
$desktop: 1440px;
$text-color--main: #E3B873;
$text-color--light: #ffffff;
$text-color--dark-light: rgba(255, 255, 255, 0.3);
$main-back-color: #131313;
$rotate-vertical: rotate(90deg);
$uppercase: uppercase; 
$limpid: transparent;


@mixin size_block($width, $height) {
    width: $width;
    height: $height;
}

@mixin font($font, $size, $text-transform) {
    font-family: $font;
    font-size: $size;
    text-transform: $text-transform;
}

@mixin flex_column(){
    display: flex;
    flex-direction: column;
}

@mixin button_hover_back($back_color){
    background-color: $back_color;
    cursor: pointer;
}

@mixin flex_center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover_color($color){
    color: $color;
    cursor: pointer;
}

%heading {
    @include font($font-TNR, 1.1em, $uppercase);

    margin: 0;
    color: $text-color--main;
}

%additional{
    @include size_block(94px, 42px);
    @include font($font-PNR, 0.9em, none);
    
    display: inline-block;
    margin-top: 9px;
}

%border-button{
    border: 1px solid $text-color--main;
}