.header__button{
    width: 161px;
    height: 37px;
    margin: auto 0;
    border: 1px solid $limpid;
    border-radius: 2px;
    background-color: $text-color--main;
    p{
        margin: auto 0;
        @include font($font-PNR, 0.9em, $uppercase);
        color: $text-color--light;
    }

    &:hover{
        @include button_hover($limpid);
        border: 1px solid $text-color--light;
        p{
            color: $text-color--main;
        }
    }

    @media (max-width: $mobile) {
       display: none;
    }

}

.order-wrapper__button{
    width: 207px;
    height: 51px;
    border: 0;
    border-radius: 2px;
    background-color: $text-color--main;

    p{
        margin: auto 0;
        @include font($font-PNR, 1em, $uppercase);
        color: $text-color--light;
    }

    @media (max-width: $mobile) {
        width: 339px;
        height: 51px;
    }
}

.button-cost{
    margin-left: 60px;
    margin-bottom: 159px;

    &:hover{
        @include button_hover($limpid);
        border: 1px solid $text-color--light;
    }

    @media (max-width: $mobile) {
        margin-left: 4%;
        margin-bottom:  20px;
    }
}

.button-submit{
    margin-left: 1.5%;
    border: 1px solid $text-color--light;
    background-color: $limpid;

    &:hover{
        @include button_hover($text-color--main);
    } 
    
    @media (max-width: $mobile) {
        margin-left: 4%;
    }
}

.slider__dot{
    @include size_block(10px, 10px);
    padding: 0;
    margin-right: 17px;
    border: 1px solid $limpid;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.3);

    &:hover{
        background-color: $text-color--light;
    }

    &:last-of-type{
        margin-right: 0;
    }
}

.slider__dot--active{
    background-color: $text-color--light;
}

.slider__arrow-left{
    @include size_block(41px, 15px);

    margin-top: 2px;
    border: 1px solid $limpid;
    background-color: $limpid;
    background-image: url(./assets/img/arrow-left.png);

    &:hover{
       @extend %border-button;
    }
}

.slider__arrow-right{
    @include size_block(43px, 15px);

    margin-top: 2px;
    border: 1px solid $limpid;
    background-color: $limpid;
    background-image: url(./assets/img/arrow-right.png);

    &:hover{
       @extend %border-button;
    }
}