@font-face{
    font-family: "ProximaNova-Regular";
    src: url(./assets/fonts/ProximaNova-Regular.ttf);
}


@font-face{
    font-family: "YesevaOne-Regular";
    src: url(./assets/fonts/YesevaOne-Regular.otf)
}

@font-face{
    font-family: "FuturaBookC-Regular";
    src: url(./assets/fonts/FuturaBookC.otf)
}

@font-face{
    font-family: "FuturaDemiC-Regular";
    src: url(./assets/fonts/FuturaDemiC.otf)
}

@font-face{
    font-family: "FuturaMediumC-Regular";
    src: url(./assets/fonts/FuturaMediumC-Regular.otf)
}